---
import {pages} from "@lib/pages";
import Link from "@lib/component/Link.astro";
import {Icon} from "astro-icon/components";

interface Props {
    class?: string;
}

const {class: className} = Astro.props
---

<div class={`w-full h-full p-4 bg-slate-100 overflow-y-auto flex flex-col justify-between text-slate-800 font-bold dark:bg-slate-900 dark:text-slate-200 ${className}`}>
    <div>
        {pages.map((page, i) => (
                <div class={`${i == pages.length - 1 ? "" : "pb-4"}`}>
                    {page.contents ?
                            <div>
                                <div class="pb-1">
                                    {page.title}
                                </div>
                                {page.contents.map(content => (
                                        <div class="pl-2 pb-1">
                                            <Link page={page} content={content}/>
                                        </div>
                                ))}
                            </div>
                        :
                            <div>
                                <Link page={page} content=""/>
                            </div>
                    }
                </div>
        ))}
    </div>
    <div>
        <a href="https://github.com/misc-org/RuleBook" target="_blank" rel="noopener noreferrer"
           class="flex text-slate-950 dark:text-slate-200">
            <Icon name="mdi:github" class="h-6 w-6"/>
        </a>
    </div>
</div>