---
import pages from '@lib/pages'
interface Props {
    class?: string;
}
const { class: className } = Astro.props
---

<div class={`w-full h-full p-4 bg-slate-50 ${className}`}>
    {pages.map((page, i) => (
        <div class={`${i == pages.length - 1 ? "" : "pb-4"}`}>
            {page.contents ?
                <div>
                    <div class="pb-1">
                        {page.title}
                    </div>
                        {page.contents.map(content => (
                            <div class="pl-2 pb-1">
                                <a href={`/RuleBook-Front/${page.src}/${content.src}`}>
                                    {content.title}
                                </a>
                            </div>
                    ))}
                </div>
                :
                <div>
                    <a href={`/RuleBook-Front/${page.src}`}>
                        {page.title}
                    </a>
                </div>
            }
        </div>
    ))}
</div>
